
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Noto+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans', sans-serif;
  color: black;
  font-weight: bolder;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color:blue !important;
}
img{
  object-fit: contain;
}

h1{
  font-size: 19px !important;
}
.flex-container{
  display:flex !important;
}
.btn
{
  background-color: blue !important;
  color: white !important;
}
select{
  box-shadow: none !important;
  border-color: black !important;
}
.fa-angle-double-up{
  margin:5px;
  color:green;
}
.fa-angle-double-down{
  margin:5px;
  color:red;
}
.fa-trash-alt{
  color:red;
}
input{
  margin-top: 10px !important;
  box-shadow: none !important;
}
.adminfunction{
  padding:10px;
  background-color: blue;
}
.adminfunction li{
  list-style-type: none !important;
  display :inline !important;
  
}
.adminfunction li a{
  color: white !important;
  padding: 10px;
  text-decoration: none;
}
td, tr, th{
  text-align:center
}
